{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:prettier/recommended",
    "plugin:nuxt/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "ignorePatterns": [
    "coverage"
  ],
  // add yout custom rulles here
  "rules": {
    "eqeqeq": [
      "error",
      "always",
      {
        "null": "ignore"
      }
    ],
    "import/no-mutable-exports": 0
  }
}
